body {
    font-family: 'Courier New', Courier, monospace;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

button {
    font-family:'Courier New', Courier, monospace;
}

input {
    font-family:'Courier New', Courier, monospace;
}

label {
    margin-top: 8px;
}

#container {
    display: flex;
    flex-direction: row;
    height: 90%;
}

#left-pane-outer-container {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    height: 90vh;
}

#left-pane-tabs {
    display: flex;
    flex-direction: column;
}

#left-pane-scroll-container {
    border: 1px solid black;
    border-radius: 2px;
    overflow-y: scroll;
    
    padding: 8px;
    height: 100%;
}

.left-pane {
    display: flex;
    flex-direction: column;
}

.left-pane-width {
    width: 40vw;
}

#right-pane-outer-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

#right-pane-tabs {
    display: flex;
    flex-direction: column;
}

#right-pane-scroll-container {
    border: 1px solid black;
    border-radius: 2px;
    overflow-y: scroll;
    
    padding: 8px;
    height: 100%;
}

.right-pane {
    height: fit-content;
    margin-left: 8px;

    display: flex;
    flex-direction: column;
}

.right-pane-width {
    width: 40vw;
}

.pane-tab {
    writing-mode: vertical-lr;
}

#bottom-container {
    margin-top: 24px;
}

.about-paragraph-section {
    margin-bottom: 0px;
}